
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bodepudi Nagasai</title>
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Resume, Nagasai, Bodepudi, Nagasai Bodepudi, Cv, personal, website, IIT Guwahati" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!-- Theme files -->
		<link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
		<link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
		<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="static/css/lightbox.css">
		<!-- //Theme files -->

		<!-- js -->
		<script src="static/js/jquery-2.2.3.min.js"></script>
		<!-- //js -->

		<!-- web-fonts -->
		<link href='//fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<!-- //web-fonts -->
	</head>

	<style>
		.video {
				background:url(static/images/image.JPG)no-repeat;
    			background-position:0px 0px;
				text-align: left;
				min-height: 100%;
				background-size:cover;
				}
		.video iframe{
    			width: 100%;
    			min-height: 15em;
    			border: 1px solid #b3b3b3;
				}

		ul.social-icons1 {
				list-style:none;
				}
		ul.social-icons1 li {
				padding-top: 10px;
				display:inline-block;
				}
		ul.social-icons1 li a i.fa {
				font-size: 15px;
    			color: #fff;
				margin: 0 10px;
				}
		ul.social-icons1 li a:hover i.fa {
   				 -webkit-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;
				}
		@-webkit-keyframes spin {
  				0% { -webkit-transform: rotate(0deg); }
  				100% { -webkit-transform: rotate(360deg); }
				}
		@keyframes spin {
  				0% { transform: rotate(0deg); }
  				100% { transform: rotate(360deg); }
				}
	</style>

	<body>
	<!-- top-nav -->
	<div class="top-nav">
		<div class="container">
			<div class="navbar-header logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					Menu
				</button>
			</div>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="menu">
					<ul class="nav navbar"> 
						<li><a href="#" data-toggle="modal" data-target="#about" class="w3ls-hover"><span data-letters="About">About </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#skill" class="w3ls-hover"><span data-letters="Skills">Skills</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#experience" class="w3ls-hover"><span data-letters="Experience">Experience </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#education" class="w3ls-hover"><span data-letters="Education">Education </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#work" class="w3ls-hover"><span data-letters="Projects">Projects</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#contact" class="w3ls-hover"><span data-letters="Contact">Contact </span></a></li> 
						<li><a class="w3ls-icon" href="static/cv.pdf" download><span class="glyphicon glyphicon-save"> </span></a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>	
	<!-- //top-nav -->
	

	<!-- banner -->
	<div class="video" >
		<div class="container">
			<div class="banner-text agileinfo-text"> 
				<h3> Hi, I'm </h3> 
				<h1>Bodepudi Nagasai</h1>
				<ul class="social-icons1" >
					<li><a href="https://facebook.com/nagasai.b"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://linkedin.com/in/nagasai-bodepudi"><i class="fa fa-linkedin"></i> </a> </li>
					<li><a href="https://github.com/nagasaiBodepudi"><i class="fa fa-github"></i> </a> </li>
					<li><a href="https://twitter.com/NagasaiBodepudi"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://quora.com/profile/Nagasai-Bodepudi"><i class="fa fa-quora"></i></a></li>
					<li><a href="https://instagram.com/nagasai_b"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://500px.com/nagasaibodepudi"><i class="fa fa-500px"></i></a></li>
				</ul>
			</div>
		</div>	
	</div>	
	<!--<script src="static/js/jquery.vide.min.js"></script>-->
	<!-- //banner --> 

	<!-- about -->
	<div class="modal fade modal-about" id="about" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">ABOUT ME</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="about"> 
						<div class="col-md-4 about-left ">
							<img src="static/images/image_1.JPG" class="img-responsive" alt="My Image"/>
						</div>
						<div class="col-md-8 about-right wthree">
							<h3><span>Bodepudi Nagasai </span></h3>
							<h4>Software Developer and Part time Investor </h4>
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b><i class="fa fa-user-o"></i> D.O.B</b></li>
										<li>03-12-1997</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b><i class="fa fa-mobile"></i> PHONE </b></li>
										<li>+91 7002945486, </li>
										<li>+91 8011494199</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b><i class="fa fa-address-card-o"></i> ADDRESS </b></li>
										<li>H.No:6-3-312, Bank Colony, Khammam, Telangana, India.</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b><i class="fa fa-envelope-o"></i> E-MAIL </b></li>
										<li><a href="mailto:nagasai.bodepudi@gmail.com"> nagasai.bodepudi@gmail.com</a></li>
									</ul>
								</li>
							</ul>
						</div> 
						<div class="clearfix"> </div> 
						<div class="about-text agileits-w3layouts"> 
							<p>I am Bodepudi Nagasai, a final year student of IIT Guwahati with an ongoing b.tech degree in Mathematics and Computing. Currently, I am more inclined towards machine learning and also I am working with its applications mainly in the field of Finance. My past work experiences in this area keeps me motivated . I am also interested in Software development, Artificial Intelligence and IoT.  </p>
							<p class="agile-br"> I do lot of things in parallel to my academic activities like editing videos, clicking some awesome photographs, editing them, play games ranging from Assasin's Creed to Mostwanted, chess to football, and also Analyze market trends. </p>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- about -->


	<!-- modal-skills -->
	<div class="modal fade modal-skills" id="skill" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Skills</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids">
							<h4><i class="fa fa-code"></i> Coding Skills </h4>
							<h6> C, C++, </h6>
							<h6> R, Matlab, </h6>
							<h6> Python, </h6>
							<h6> HTML, CSS,</h6>
							<h6> MySql, MongoDB, Neo4j</h6>
							<!--
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>

							<h6>ui design & developer</h6>
							<!--
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 70%">
								</div>
							</div>

							<h6>Javascript</h6>
							<!--
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6>Photoshop <span> 75% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>-->
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4><i class="fa fa-cogs"></i> Other Skills </h4>
							<h6>Adobe Premiere Pro, After effects, </h6>
							<h6> Audition, Photoshop, </h6>
							<h6> Media Marketing </h6>
							<h6> Entrepreneurship, </h6>
							<h6> Business Development</h6>

						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-skills -->

	<!-- modal-experience -->
	<div class="modal fade modal-experience" id="experience" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Experience</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="experience w3-agileits-info">
						<div class="experience-grids">
							<div class="experience-left">
								<h3>May,2017 - Now </h3>
								<h5>Eezy Naukari </h5>
							</div>
							<div class="experience-right">
								<h4>Intern - Software Developer</h4>
								<p></p>
							</div>
							<div class="clearfix"> </div>
						</div> 
						<div class="experience-grids experience-grids-btm">
							<div class="experience-left">
								<h3>May,2016 - Jul,2016</h3>
								<h5>Virtusa Consultancy Services </h5>
							</div>
							<div class="experience-right">
								<h4>Intern - Technology</h4>

							</div>
							<div class="clearfix"> </div>
						</div>

						<div class="experience-grids experience-grids-btm">
							<div class="experience-left">
								<h3>Mar,2016 - Apr,2017 </h3>
								<h5>Kameng Hostel </h5>
							</div>
							<div class="experience-right">
								<h4>Welfare Secretary</h4>
								<p></p>
							</div>
							<div class="clearfix"> </div>
						</div>

						<div class="experience-grids experience-grids-btm">
							<div class="experience-left">
								<h3>Feb,2016 - Mar,2017 </h3>
								<h5>Movie Club IITG </h5>
							</div>
							<div class="experience-right">
								<h4>Head Editing Team</h4>
								<p></p>
							</div>
							<div class="clearfix"> </div>
						</div>

						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-experience -->


	<!-- modal-education -->
	<div class="modal fade modal-experience" id="education" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header w3layouts">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Qualification</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="experience w3-agileits-info">
						<div class="experience-grids">
							<div class="experience-left">
								<h3>2014-2018<span>(4 Years Course)</span> </h3>
								<h5>Indian Institute of Technology, Guwahati</h5>
							</div>
							<div class="experience-right">
								<h4>B.Tech in Mathematics and Computing</h4>
								</div>
							<div class="clearfix"> </div>
						</div> 
						<div class="experience-grids experience-grids-btm">
							<div class="experience-left">
								<h3>2012-2014<span>(2 Years Course)</span></h3>
								<h5> Sri Chaitanya Junior College, Vijayawada.</h5>
							</div>
							<div class="experience-right">
								<h4>Intermediate Education</h4>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="experience-grids w3-agileits">
							<div class="experience-left">
								<h3>2009-2012</h3>
								<h5>New Vision, The Concept School.</h5>
							</div>
							<div class="experience-right">
								<h4>Secondary Education.</h4>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-education -->
	<!-- modal-gallery -->
	<div class="modal fade modal-gallery" id="work" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Projects</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="experience w3-agileits-info">
						<div class="experience-grids">
							<div class="experience-left">
								<h3> Jan,2017 </h3>
								<h5>Kriti'17</h5>
							</div>
							<div class="experience-right">
								<h4>Algorithmic Trading</h4>
								<p>Implemented an algorithm in Python and R which uses two trading stratagies namely bollinger bands and Commodity Channel Index(CCI) for generating buy, sell, do_nothing calls for the given stock data.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="experience-grids">
							<div class="experience-left">
								<h3>Mar, 2016 - Apr, 2016 </h3>
								<h5>Dr.Arabin Kumar Dey</h5>
							</div>
							<div class="experience-right">
								<h4>Monte Carlo Simulation</h4>
								<p>descriptionExtracting a sequence of Random numbers from a probability distribution using algorithm named Metropolis-Hastings algorithm which is Monte Carlo markov chain(MCMC) method. Here while generating we used normal distribution as the required probability distribution.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="experience-grids">
							<div class="experience-left">
								<h3> Oct, 2015 </h3>
								<h5></h5>
							</div>
							<div class="experience-right">
								<h4>Lexical Decision Task</h4>
								<p>descriptionIn this project we compared the Reaction times of different types of people. We divided the people into groups based on their linguistic abilities such as monolingual, bilingual, and multilingual people.</p>
							</div>
							<div class="clearfix"> </div>
						</div>

					</div>
				</div>
				<div class="modal-body modal-spa">
					<div class="gallery"> 
						<div class="gallery-row"> 
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="static/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley">
										<img src="static/images/g1.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="static/images/g2.jpg" data-lightbox="example-set" data-title="Sed ut perspiciatis unde omnis iste natus error sit">
										<img src="static/images/g2.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="static/images/g3.jpg" data-lightbox="example-set" data-title="Eaque ipsa quae ab illo inventore veritatis et quasi">
										<img src="static/images/g3.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>


						<!--  light box js -->
						<script src="/static/js/lightbox-plus-jquery.min.js"> </script>
						<!-- //light box js-->  
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-gallery -->
		<!-- contact -->
	<div class="modal fade modal-contact" id="contact" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Get In Touch</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="contact"> 
						<div class="contact-w3lsrow">
							<div class="col-md-6 contact-left w3-agileits">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1905.0866992094118!2d80.15947636854051!3d17.258843997598014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDE1JzMxLjgiTiA4MMKwMDknMzcuNyJF!5e0!3m2!1sen!2sin!4v1495299555221" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								<ul class="address">
								<li>
									<ul class="agileits-address-text">
										<li><b><i class="fa fa-whatsapp"></i>Whatsapp</b></li>
										<li>+91 8011494199 </li>
									</ul>
								</li>
								</ul>
							</div>
							<div class="col-md-6 contact-right">

								<form method="GET">
									<div class="styled-input agile-styled-input-top">
										<input type="text" name="Name" required="">
										<label>Name</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="text" name="Email" required=""> 
										<label>Email</label>
										<span></span>
									</div> 
									<div class="styled-input">
										<input type="text" name="Subject" required="">
										<label>Subject</label>
										<span></span>
									</div>
									<div class="styled-input">
										<textarea name="Message" required=""></textarea>
										<label>Message</label>
										<span></span>
									</div>	 
									<input type="submit" value="SEND">
								</form>
								<ul class="address">
								<li>
									<ul class="agileits-address-text">
										<li><b><i class="fa fa-snapchat-ghost"></i>Snapchat</b></li>
										<li>nagasai_kittu </li>
									</ul>
								</li>
								</ul>
							</div>

							<div class="clearfix"> </div>
						</div>  
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- contact -->
	
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<p>© 2017 Bodepudi Nagasai. All rights reserved | Powered by <a href="https://www.djangoproject.com/">Django</a> </p>
		</div>
	</div>
	<!-- //footer --> 

	<!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/bootstrap.js"></script>

	</body>
</html>
